/* main ui */
#leftBox,
#rightBox {
  z-index: 2; }

.ui-panel {
  padding: 10px;
  border: 1px solid #555;
  background-color: #000;
  color: #fff;
  position: relative;
  z-index: 2; }

#tooltip {
  position: absolute;
  z-index: 3;
  display: none;
  padding: 3px; }

button {
  border: 1px solid #555;
  background-color: #000;
  color: #fff;
  padding: 2px 10px; }

/* lists */
ul {
  list-style-type: none;
  color: #fff;
  padding-left: 5px;
  margin: 0px; }

.nesting-box {
  background-color: #111;
  border: 1px solid #555;
  margin: 1px;
  padding-left: 2px;
  padding-right: 2px; }

input.rename-box {
  background: transparent;
  border: none;
  color: #fff; }

/* point list */
#pointListBox {
  list-style-type: none;
  width: 200px;
  height: 33%;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  resize: both; }

.point-list {
  cursor: pointer;
  background-color: #111120; }

.selected-point {
  background-color: #222d4a; }

.highlighted {
  background-color: #474a22; }

/* shape list */
#shapeListBox {
  width: 200px;
  height: 33%;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  resize: both; }

#shapeList {
  padding: 0px; }

.shape-list {
  cursor: pointer;
  background-color: #3a1111; }

.selected-shape {
  background-color: #4a222d; }

.edited-shape {
  background-color: #6a224a; }

/* anim list */
#animListBox {
  width: 200px;
  height: 33%;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  resize: both; }

#animList {
  padding: 0px; }

.anim-list {
  cursor: pointer;
  background-color: #143a11; }

.selected-anim {
  background-color: #297723; }

.anim-pre,
.anim-post {
  float: right;
  display: none; }

/* main ui panels */
#leftBox {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh; }

#rightBox {
  position: absolute;
  top: 0px;
  right: 0px; }

/* properties window */
#propsBox {
  width: 200px;
  height: 250px; }

input[type=number],
input[type=color],
input {
  border: 1px solid #555;
  background-color: #111;
  color: #fff;
  margin-right: 5px;
  width: 80px; }

select {
  color: #fff;
  border: 1px solid #555;
  background-color: #111;
  margin-right: 5px; }

p.prop-header {
  margin: 0px;
  margin-bottom: 10px; }

.prop-group {
  margin-bottom: 10px; }

input.selected-anim {
  background-color: #193311;
  border-color: #52804d; }

input.selected-keyframe,
select.selected-keyframe {
  background-color: #153E31;
  border-color: #58927B; }

input.active-keyframe {
  background-color: #333311;
  border-color: #98985C; }

/* keyframeBox */
#keyframeBox {
  position: relative;
  float: right;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 170px; }

#keyframePropsBox {
  display: none; }

#keyframePropsBox select,
#keyframePropsBox input {
  width: 100px; }

#keyframePropsBox input[type=checkbox] {
  width: auto;
  float: right; }

/* context menu */
#contextMenu {
  display: none;
  min-width: 150px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0px;
  z-index: 5;
  cursor: pointer; }

.context-menu-item {
  background: #111;
  margin: 0px;
  padding: 5px 10px 5px 10px; }
  .context-menu-item:hover {
    background-color: #113; }

.context-menu-item span {
  margin-right: 10px;
  color: #297723; }
  .context-menu-item span.invisible-text {
    opacity: 0; }

/* save window */
div#saveWindow {
  z-index: 4;
  width: 400px;
  height: 150px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
  display: none; }

div#saveWindow div {
  width: 70%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 10%; }

div#saveWindow input {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 10%; }

#saveConfirm {
  float: left; }

#saveCancel {
  float: right; }

/* misc */
.dark-label {
  color: #888; }

#elementTitle {
  font-size: 120%;
  display: block;
  margin-bottom: 10px; }

body,
#root,
#canvasBox {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #000;
  overflow: hidden; }

body.noscroll {
  position: fixed;
  width: 100%; }

canvas {
  background-color: black;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  cursor: default; }

.ui-panel label,
.ui-panel br,
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */ }

/*snackbar*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #111;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 6;
  left: 50%;
  bottom: 30px; }

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 1.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
